body{
    background-color:black;
    color: white;
    background-image: url(images/trx.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;


}

h1, #box1{
    text-align: left;
    margin-left: 400px;
}
#img1{
    position: relative;
}

.card{
    background: silver;
    text-align: center;
    text-transform: initial;
    width: 50%;
    height: 500px;
    padding: 10px 30px;
    position: center ;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: groove;
    border-width: 12px;
    border-color: wheat;
    opacity: 80%;
}